<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="TabbyRDP Agent"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="TabbyRDP"
    UpgradeCode="c8f3e2a1-5b4d-4e9f-a6c2-1d8e7f9b0a3c">
    <Package
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of TabbyRDP Agent is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="TabbyRDP Agent" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="TabbyRDP" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <Component Id="AgentBinary" Guid="*">
        <File
          Id="AgentExe"
          Source="$(var.AgentBinary)"
          KeyPath="yes"
          Name="tabbyrdp-agent.exe" />
        <ServiceInstall
          Id="AgentServiceInstall"
          Type="ownProcess"
          Name="tabbyrdp-agent"
          DisplayName="TabbyRDP Agent"
          Description="TabbyRDP desktop streaming agent"
          Start="auto"
          ErrorControl="normal" />
        <ServiceControl
          Id="AgentServiceControl"
          Name="tabbyrdp-agent"
          Start="install"
          Stop="both"
          Remove="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
